java/*.class
java/brainfrack/target
java/.idea

haskell/*.hi
haskell/Brainfrack

c/brainfrack

racket/#*

llvm/compiler
llvm/run_tests

ocaml/_build
ocaml/*.native

.gdb_history
.lein-repl-history

*.o
a.out
